<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    
  </configSections>

  <appSettings>
    <add key="ApplicationIdUnderTest" value="PatientManagementSystem"/>
    <add key="TestExecutionerUIDriver" value="FIREFOX"/>
    <add key="TestExecutionerScreenCaptureType" value="LOCAL"/>
    <add key="TestReportFilePath" value="C:\TestResults\Demos\GeneratedTestCases\"/>
    <add key="TestExecutionerAuthor" value="HTML"/>
    <add key="PostUploadWebAPIServiceURL" value=""/>
    <add key="FTPUploadURLAndCredentials" value="localhost|ftpUser|Password"/> 
    <add key="FTPFilesInTestProcess" value="true"/>
  </appSettings>
  
</configuration>