<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    
  </configSections>

  <appSettings>
    <add key="TestExecutionerUIDriver" value="Firefox"/>
    <add key="Test.IEmosoft.com_BaseURL" value="http://test.Iemosoft.com"/>
    <add key="ApplicationIdUnderTest" value="TestFramework"/>
    <add key="TestExecutionerScreenCaptureType" value="LOCAL"/>
    <add key="TestReportFilePath" value="C:\TestResults\Demos\GeneratedTestCases\"/>
    <add key="TestExecutionerAuthor" value="HTML"/>
    <add key="FTPUploadURLAndCredentials" value="test.iemosoft.com|ftpUser|P@ssword23!"/>
    <add key="SauceLabsKey" value="emomon20:68e0ebd8-dadb-41d9-8929-c00cf25d5cb4"/>
    <add key="SauceLabsBrowser" value="Firefox"/>
    <add key="SauceLabsPlatform" value="Windows 7"/>
  </appSettings>
  
</configuration>