<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    
  </configSections>

  <appSettings>
    <add key="Test.IEmosoft.com_BaseURL" value="http://test.Iemosoft.com"/>
    <add key="ApplicationIdUnderTest" value="TestFramework"/>
    <add key="TestExecutionerUIDriver" value="FIREFOX"/>
    <add key="TestExecutionerScreenCaptureType" value="LOCAL"/>
    <add key="TestReportFilePath" value="C:\TestResults\Demos\GeneratedTestCases\"/>
    <add key="TestExecutionerAuthor" value="HTML"/>
    <add key="FTPUploadURLAndCredentials" value="test.iemosoft.com|ftpUser|P@ssword23!"/> 
  </appSettings>
  
</configuration>