<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- ApplicationIdUderTest, for FTP identify the application being tested -->
    <!-- TestExecutionerAuthor [FIREFOX | CHROME | IE | SAUCELABS] -->
    <!-- TestReportFilePath [PATH TO A LOCAL FILE OR NETWORK SHARE, WHERE REPORTS WILL BE SAVED TO] -->
    <!-- FTPUploadURLAndCredentials [eg. 'ftp://server.com|ftuUserName|ftpPwd' WHERE REPORTS AND IMAGES WILL BE UPLOADED TOO WHEN A TEST IS COMPLETE -->
    <!-- TestExecutionerUIDriver [FIREFOX | CHROME | IE | SAUCELABS] -->
    <!-- PostUploadWebAPIServiceURL [SERVICE TO CALL AFTER FTP UPLOAD HAS COMPLETE] -->
    <!-- FTPFilesInTestProcess determins if FTP report files are uploaded as part of the test process or via the console app-->
    <add key="Test.IEmosoft.com_BaseURL" value="test.Iemosoft.com"/>
    <add key="ApplicationIdUnderTest" value="TestFramework"/>
    <add key="TestExecutionerUIDriver" value="FIREFOX"/>
    <add key="TestExecutionerScreenCaptureType" value="LOCAL"/>
    <add key="TestReportFilePath" value="C:\TestResults\Demos\GeneratedTestCases\"/>
    <add key="TestExecutionerAuthor" value="HTML"/>
    <add key="PostUploadWebAPIServiceURL" value=""/>
    <add key="FTPUploadURLAndCredentials" value=""/>
    <add key="FTPFilesInTestProcess" value="true"/>
    <add key="SauceLabsKey" value="emomon20:68e0ebd8-dadb-41d9-8929-c00cf25d5db4"/>
    <add key="SauceLabsBrowser" value="Firefox"/>
    <add key="SauceLabsPlatform" value="Windows 7"/>
   </appSettings>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
</configuration>
