<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="testResultPath" value="C:\AppfsdfsdfsdfData\"/>
    <add key="TestExecutionerUIDriver" value ="FIREFOX,IE,CHROME"/>
    <add key="TestExecutionerScreenCaptureType" value="LOCAL"/>
    <add key="TestReportFilePath" value="C:\App_Data\Capella\"/>
    <add key="TestExecutionerAuthor" value="HTML"/>
 
  </appSettings>
</configuration>