<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TestExecutionerUIDriver" value ="FIREFOX"/>
    <add key="TestExecutionerScreenCaptureType" value="LOCAL"/>
    <add key="TestReportFilePath" value="C:\PattersonDental\Demos\GeneratedTestCases\"/>
    <add key="TestExecutionerAuthor" value="HTML"/>
  </appSettings>
</configuration>